 .Homepage__root__nuuKh {
        display: flex;
position: relative;
flex-direction: column;
width: 100%;
height: 100%;
justify-content: flex-start;
align-items: flex-start;
min-width: 0;
min-height: 0;
background: #ffffff;
      } 
 .Homepage__faultCard__ffd2J.__wab_instance {
        position: relative;
margin-left: 300px;
margin-right: 300px;
margin-bottom: 10px;
      } 
 .Homepage__box__bit1O {
        display: flex;
position: relative;
width: 100%;
height: auto;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-width: 0;
background: rgba(68,192,255,0.2);
      } 
 .Homepage__header__hMcuT.__wab_instance {
        position: relative;
      } 
 .Homepage__box__waaQb {
        display: flex;
position: relative;
width: 100%;
height: 100%;
flex-direction: column;
justify-content: flex-start;
align-items: center;
min-width: 0;
min-height: 0;
background: rgb(255,255,255);
      } 
 .Homepage__box___1A8Hk {
        display: inline-flex;
position: relative;
flex-direction: column;
height: 100%;
width: auto;
min-width: 0px;
padding-top: 15px;
padding-bottom: 15px;
max-width: 750px;
min-height: 0;
background: rgb(255,255,255);
      } 
 .Homepage__box___1A8Hk > .__wab_flex-container {
        flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-top: calc(0px - 15px);
height: calc(100% + 15px);
      } 
 .Homepage__box___1A8Hk > .__wab_flex-container > *, .Homepage__box___1A8Hk > .__wab_flex-container > .__wab_slot > * {
        margin-top: 15px;
      } 
 .Homepage__faultCard__lW1E.__wab_instance {
        position: relative;
      } 
 .Homepage__faultCard__nok9I.__wab_instance {
        position: relative;
      } 
 .Homepage__hybridCard__qm1P5.__wab_instance {
        position: relative;
      } 
 .Homepage__faultCard__pQ7P.__wab_instance {
        position: relative;
      } 
 .Homepage__faultCard__uegZh.__wab_instance {
        position: relative;
      } 
 .Homepage__faultCard___1Bh2D.__wab_instance {
        position: relative;
      } 
 .Homepage__faultCard__fdJcy.__wab_instance {
        position: relative;
      } 
 .Homepage__faultCard__uKlQo.__wab_instance {
        position: relative;
      } 
 .Homepage__faultCard__fUn6Z.__wab_instance {
        position: relative;
      } 
 .Homepage__box__oames {
        display: flex;
position: relative;
width: 100%;
height: auto;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
min-width: 0;
background: rgba(112,251,112,0.32);
      } 
 .Homepage__footer__nVgnX.__wab_instance {
        position: relative;
      } 