 .Sidebar__root__ld6To {
        display: flex;
position: relative;
width: 100%;
height: auto;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
min-width: 0;
background: rgba(255,68,223,0.2);
      } 
 .Sidebar__box__iVdyj {
        position: relative;
      } 
 .Sidebar__box___7LmPg {
        position: relative;
      } 
 .Sidebar__box__wDv74 {
        position: relative;
      } 
 .Sidebar__box__t5DKb {
        position: relative;
      } 
 .Sidebar__box__bfFe {
        position: relative;
      } 
 .Sidebar__box__lgkSo {
        position: relative;
      } 
 .Sidebar__box__uLuwq {
        position: relative;
      } 