/** This file will be overwritten by Plasmic. Don't edit. */
    :root {
      --image-XQCEmem7d: url("/download.svg.svg");
--image-j_qN5ag7w7: url("/icon.svg");
--image-FO4lAnPQ-P: url("/icon 2.svg");
--image-YrWQcoJNlc: url("/icon 3.svg")
    }